<form action='/human_move' method='post'>
<table>
	<tr>
		<td><input type='submit' value='<%=board.ttt_board[0]%>' name='choice'></td>
		<td><input type='submit' value='<%=board.ttt_board[1]%>' name='choice'></td>
		<td><input type='submit' value='<%=board.ttt_board[2]%>' name='choice'></td>
	</tr>
	<tr>
		<td><input type='submit' value='<%=board.ttt_board[3]%>' name='choice'></td>
		<td><input type='submit' value='<%=board.ttt_board[4]%>' name='choice'></td>
		<td><input type='submit' value='<%=board.ttt_board[5]%>' name='choice'></td>
	</tr>
	<tr>
		<td><input type='submit' value='<%=board.ttt_board[6]%>' name='choice'></td>
		<td><input type='submit' value='<%=board.ttt_board[7]%>' name='choice'></td>
		<td><input type='submit' value='<%=board.ttt_board[8]%>' name='choice'></td>
	</tr>
</table>
</form>